canvas {
    background:#FFF;
    border-radius:10px;
    box-shadow:0 0 15px #999;
  }
body{
  text-align: center;
  background: url(https://i.pinimg.com/originals/f3/7a/bb/f37abb1814134a7a114615549a22cafa.jpg);
}

#marker-container{
  color: #999;
  font-size: 2em;
  max-width:200px;
  background:#333;
  margin:25px auto;
  padding:15px;
  border-radius:10px;
}

#marker{
  max-width:200px;
}

#fontSize-container{
  color: #999;
  font-size: 2em;
  max-width: 200px;;
  background:#333;
  margin:25px auto;
  padding:15px;
  border-radius:10px;
}

#fontSize{
  max-width:200px;
}

#color-container{
  display: inline-block;
}

#arrange{
  display: flex;
  margin:25px auto;
}

#left{
  width:33.33%;
  margin:25px auto;
}

#right{
  width:33.33%;
}

#stroke-area{
  margin:25px auto;
}



#right div{
  max-width: 300px;
  margin:25px auto;
  padding:5px;
  border-radius:10px;
}



